@media  screen and (max-width: 60em) {
    .imgAbout {
        margin-top: 2rem;
    }
}

:root {
    --green: #18882A;
    --purple: #812877;
    --blue: rgba(0,0,255, 0.6);
    --section: #DEA4A5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--purple);
    overflow-x: hidden;
}

.homePage {
    width: 100vw;
    height: 70vh;

    background-image: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)), 
                        url("/Halo_Blog/Img/519aa818-48eb-4d2a-9657-ea85e259dace.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    position: relative;
}

h1 {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 4rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    animation: ChangingColor 1s ease-in-out forwards;
}

@keyframes ChangingColor {
    100% {
        color: var(--purple);
    }
}

nav {
    display: flex;
    justify-content: flex-end;
    height: 80px;
    padding: 35px 5%;
}

.navLinks {
    list-style-type: none;
    display: flex;
}

.navLinks li{
    padding: 0 15px;
}

.navLinks a {
    color: black;
    font-weight: 700;
    font-size: 1.75em;
    text-decoration: none;
}

.first-section {
    background-color: var(--section);

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap-reverse;

    padding-top: 20vh;
    padding-bottom: 15vh;
}

.imgAbout {
    width: 30em;
}

.transparentImg {
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 1;
}

.aboutMeP {
    margin-top: 2em;
    width: 30em;
}






.lastDiv {
    background-color: black;
    padding: 5vh 0;
}

.lastDiv p {
    font-size: small;
    color: white;
}

.lastDiv:hover{
    animation: FooterDiv 1s ease-in-out forwards;
}

.lastDiv:hover p {
    animation: FooterP 1s ease-in-out forwards;
}

@keyframes FooterDiv {
    50% {
        background-color: white;
    }
    100% {
        background-color: black;
    }
}

@keyframes FooterP {
    50% {
        color: black;
    }
    100% {
        color: white;
    }
}