/**************************/
/***** INDEX ME HTML ******/
/**************************/
:root {
    --green: #18882A;
    --purple: #602259;
    --blue: rgba(0,0,255, 0.6);
    /* This is an example */
    /* Create your own color variables */
    /* At most I recommend using 3 colors 
      that will be used accross your website */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Choose your font family here
        or you can add it later */
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--green);
    /* the bg color would be the same as your 
        quote section bg color */
}



/***  LANDING PAGE ***/
.landingPage {
    width: 100vw;
    min-width: 500px;
    height: 70vh;

    background-image: url("Img/halo-3-cover.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;

    position: absolute;
    z-index: -1;
}

header{
    position: relative;
}

header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header img {
    width: 50px;
}

.logo {
    float: left;
    margin: 2rem 2.5rem;
}

p {
    max-width: 70vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    background-color: rgba(255,255,255, 0.4);
}

body {
    background-image: url("Img/HaloBackground.png");
    background-size: cover;
}

/***  NAVIGATION BAR ***/
nav {
    display: flex;
    justify-content: flex-end;
    height: 80px;
    padding: 35px 5%;
}

.navLinks {
    list-style-type: none;
    display: flex;
}

.navLinks li{
    padding: 0 15px;
}

.navLinks a {
    color: black;
    font-weight: 700;
    font-size: 1.75em;
    text-decoration: none;
}

/***  TITLE ***/
header h1 {
    color: var(--purple);
    text-align: center;
    font-size: 4rem;
    margin-top: 150px;
}

/***  QUOTE SECTION ***/
.quoteSection {
    background-image: linear-gradient(rgb(28, 6, 67),  rgb(27, 114, 158),rgb(27, 114, 158), rgb(28, 6, 67));
    margin-top: 45vh;
    padding: 35px 20px;
    text-align: center;
}

q {
    color: azure;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

/***  CARDS ***/
.column img {
    height: 100px;
    width: 230px;

    object-fit: contain;
}

.row {
    background-color: var(--purple);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.column {
    background-color: var(--blue);
    width: 290px;
    margin: 50px 0px;
}

.content_wrap {
    color: black;
    margin: 20px;
}

h2, p {
    padding-top: 15px;
}

/***  LAST SECTION ***/
.last_content {
    margin: 40px 8% 60px;
}

.last_content h2{
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255,255,255, 0.4);
    width: fit-content;
    padding: 0 0.5rem;
}

/***  FOOTER ***/
footer div{
    background-color: black;
    padding: 5vh 0;
}

footer > div > p {
    font-size: small;

    background-color: black;
    color: white;

    margin: none;
    padding: none;
}




/**************************/
/***** ABOUT ME HTML ******/
/**************************/
/* Use CSS from previous CSS to 
      add and edit here */